{% extends 'main.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'styles/about.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/btn_eos.css' %}" />
{% endblock %}

{% block content %}
  <div class="container mb-5 mt-5">
    <div class="home-wrapper">
      <div class="btn-left">
        <div class="group">
          <a class="btn button btn-info" href="{% url 'home_page' %}"><span>回首頁</span></a>
        </div>
      </div>

      <div class="vid-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div style="max-width: 600px">
              <div style="position: relative; padding-bottom: 56.25%;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%" src="{% static 'videos/intro.mp4' %}" title="intro" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>遊玩指南</h3>
        </div>
      </div>

      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              <p>親愛的冒險者你好，如果你發現自己迷失在職涯冒險旅途之中，請跟隨以下指示動作，無須驚慌</p>
              <p>
                <b>遊玩順序：</b>「起點島 - 職涯安全須知閱讀」 (左上角) - 「船艙 - RPG角色扮演」(中間紅色船隻) - 「寶藏大陸 - 心理測驗：你是什麼大人物」(右下角)
              </p>
              <p>
                <b>抽大秘寶 (星巴克) 準則：</b>玩完遊戲並找出隱藏在 RPG 遊戲中的回饋表單填寫(20分鐘) - 追蹤IG(5秒) - 在指定貼文 Tag 一個朋友來玩(30秒)，(我們真的會抽查)
              </p>
              <p>
                <b>預估中獎率：</b>如果你全系列活動都有參加的話大概5-10%左右
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>各項遊戲遊玩方式、設計理念與未來設計展望</h3>
        </div>
      </div>

      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              <p>首先先向各位冒險者致意，因本遊戲配合 ATCC 實作時間進行，僅用約不到三個星期的時間開發 ，故內容確實還有部分可以精進的地方。</p>
              <b>設計理念：</b>
              <p>遠船，顧名思義與遠傳諧音。職涯如航海冒險，有很多挑戰與困難，希望大家可以透過搭乘遠傳夢想號，體驗在遠傳的職涯冒險。仔細觀察，會發現有很多驚喜喔！</p>
              <p>整體風格以遊戲常見的復古像素風進行設計，讓遊戲更有感。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-wrapper">
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="d-flex flex-row flex-wrap pd-2" style="gap: 2em;">
              <img class="demo_map" src="{% static 'images/demo_map.jpg' %}" />
              <div style="flex:3; min-width: 300px;">
                <b>遊戲體驗：</b>
                <p>每項遊戲中基本上都盡量做到讓各位容易了解，不過我們還是簡單向各位介紹遊戲的玩法以及其他的島嶼設計內容。</p>
                <p>
                  <b>「起點島 - 職涯安全須知閱讀」 ：</b>您可以透過簡單的影片觀看及回答問題，了解遠傳職場特色，在美編和設計上配合書本的翻書動畫增加體驗感 (手機板暫時不支援)。結尾的結果呈現配合遠船吉祥物【愛。喜爹鹿】圖樣，以及航海進行設計。未來期待和人力銀行或人資專業團隊合作，除了遠傳的職場特色外，也在其中安插職場法律與福利冷知識科普，增加實用性與趣味性
                </p>
                <p>
                  <b>「樹木島」(ESG島)：</b>未來將以打怪方式介紹更多 ESG 冷知識，不過因團隊資源有限，目前正在裝修中，暫時不開放。
                </p>
                <p>
                  <b>「寶藏大陸 - 心理測驗：你是什麼大人物」：</b>顧名思義就是心理測驗，目前暫時用 Surveycake製作初版，未來將使用更高級的心理測驗軟體進行製作。
                </p>
                <p>
                  <b>「只有遠傳沒有距離 -主管 Call out 島」：</b>目前僅有展示版本，未來若有下一步合作，將在上面開放預約遠傳主管的線上面談室，讓你可以近距離且深度接觸高階主管，和他們聊聊你的抱負與理想，也更認識公司。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              <h4>重磅遊戲：RPG體驗</h4>
              <b>「船艙 - RPG角色扮演」：</b>
              <p>這是一個介面用phaser.js開發的2D角色扮演遊戲，目前先以 AI 計算的圖檔進行設計，未來將更貼合，以【遠傳敏捷開放式辦公室】為背景設計。實作階段會先設計成單人遊戲，玩家可與預設好回應內容的遠傳虛擬主管互動對話，未來可增加多人模式，讓玩家扮演的角色可彼此互動。</p>
              <p>互動方式：上下左右或WASD可以前後左右移動，空白鍵可以按下一句話，偶爾會出現對話框讓玩家的互動性更高，未來有機會將會設計成更貼近對話框的形式進行互動。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-wrapper">
      <div class="home-left">
        <div class="group">
          <h3>遊戲設計與開發者的話</h3>
        </div>
      </div>

      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              <p>設計這款遊戲的目的，除了宣傳遠傳工作價值外，我們也希望此遊戲可幫助玩家了解電信業不同部門員工的日常工作內容，以及正確的價值觀、工作文化、業務策略等。透過完成日常工作任務、處理辦公室內的挑戰來模擬實際的職場樣態，協助青年了解職涯探索的關卡，雖然遊玩時間與狀態與現實畢竟還有一些距離，不過未來我們會繼續精進。</p>
              <p>希望各位踴躍填寫回饋表單，您的支持是我們精進遊戲的最大動力！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-wrapper">
      <div class="home-center">
        <div class="home-center-wrapper">
          <div class="container">
            <div class="row align-items-center">
              <p>
                遊戲機制設計：Eosphorus 團隊全員<br />
                開發者：哈斯、陳哲堯、王家宏、(還有一個我不知道誰)、台大 AI 社<br />
                美術：林玳君、哈斯、(和誰？)<br />
                部分影片提供與製作：遠傳官方 YT、黃蘭榛
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
