{% extends 'main.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'styles/btn_eos.css' %}" />
  <style>
    body{
      background-color: #edcc9a;
    }
  </style>
{% endblock %}

{% block content %}
<form class="container mt-4 mb-5" action="/mbti_result/" method="post"name="textForm">
  {% csrf_token %}
  <div class="row justify-content-center align-items-center">
      <div class="col-md-12">
          <a class="btn btn-info col-md-1" href="{% url 'home_page' %}">
            <span>回首頁</span>
          </a>
      </div>
      {% for question in questions%}
      <div class="mt-2 question" id="question{{ question.id }}">
          {{question.id}}.{{ question.description  }} 
      </div>
      {% for option in question.options %}
      <div class="form-check question">
          <input class="form-check-input" type="radio" name="option{{question.id}}" id="option{{question.id}}-{{ forloop.counter }}" value="{{ forloop.counter0 }}" 
          onclick="selectOption({{ question.id|add:-1 }}, {{ forloop.counter0 }});" 
          {% if question.choose == forloop.counter0 %}checked{% endif %}>

          <label class="form-check-label" for="option{{question.id}}-{{ forloop.counter }}">
              {{ option }}
          </label>
      </div>
      {% endfor %}
      {% endfor %}
      <div class="col-md-9 col-sm-12 mt-2 text-center">
          <button class="btn" onclick="return validateForm()">
            <span>送出</span>
          </button>
      </div>
  </div>
</form>
{% endblock %}

{% block extraScript %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
  <script src="{% static 'scripts/mbti_qa.js' %}"></script>
{% endblock %}
