{% extends 'main.html' %}
{% load static %}

{% block extra_head %}
  <style>
    html,
    body {
      margin: 0;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background: #000; /* Black background */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h1 {
      color: #fff; /* White color for visibility */
      margin: 0;
      padding-top: 10px; /* Padding at the top */
      width: 100%;
      text-align: center;
    }
    .version-text {
      color: #fff; /* White color for visibility */
      font-size: 1em; /* Adjust size as needed */
      margin-top: 5px; /* Space between the title and version text */
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container" id="game-container">
    <!-- Game title -->
    <h1>FET RPG</h1>
    <!-- Version text -->
    <p class="version-text">Alpha v. 1.0</p>
    <!-- Your game's canvas or additional content goes here -->
  </div>
{% endblock %}

{% block extraScript %}
  {% comment %}https://phaser.discourse.group/t/how-to-import-phaser-correctly-in-html/9642/10{% endcomment %}
  {% comment %} <script src="https://unpkg.com/es-module-shims@1.7.3/dist/es-module-shims.js"></script> {% endcomment %}
  <script type="module" src="{% static 'rpg/scripts/main.js' %}"></script>
{% endblock %}
