{% extends 'main.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'styles/rpg.css' %}" />
{% endblock %}

{% block content %}
  <div class="rpg_container row flex-wrap mt-3">
    <div class="tran_btn22">
      <a href="{% url 'home_page' %}"><img src="{% static 'images/back.png' %}" alt="回首頁" /></a>
    </div>
    <div class="col" id="game-container">
      <!-- Game title -->
      <h1>FET RPG</h1>
      <!-- Version text -->
      <p class="version-text">Alpha v. 1.0</p>
      <!-- Your game's canvas or additional content goes here -->
    </div>
  </div>
{% endblock %}

{% block extraScript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    Swal.fire({
        title: 'RPG遊玩方式',
        icon: 'info',
        html: '<p style="font-size:1.5em">目前本RPG遊戲只支援電腦版喔！</p><p style="font-size:1.5em">按Enter鍵後在對話框問答</p>',
        showConfirmButton: false,
        focusConfirm: false,
        preConfirm: () => {}
    })
    </script>
  {% comment %}https://phaser.discourse.group/t/how-to-import-phaser-correctly-in-html/9642/10{% endcomment %}
  {% comment %} <script src="https://unpkg.com/es-module-shims@1.7.3/dist/es-module-shims.js"></script> {% endcomment %}
  <script type="module" src="{% static 'rpg/scripts/main.js' %}"></script>
{% endblock %}
